SECRET_KEY = "KEY_HERE_5ad696f9b5996c75c625b87b0c4b1deff01a03cf6db7e3e1"

DEBUG = "True"
STATIC_URL = "assets/"

# DB_HOST = "db"
# DB_PORT = "5432"
# POSTGRES_DB = "postgres"
# POSTGRES_USER = "admin"
# POSTGRES_PASSWORD = "admin"

LDAP_SERVER = 'AD_name'
LDAP_ADMIN = 'cn=admin_account_name,cn=users,dc=first_AD_part,dc=second_AD_part'
LDAP_ADMIN_PASSWORD = 'admin_password'
LDAP_SEARCH_BASE = 'dc=first_AD_part,dc=second_AD_part'