<!DOCTYPE html>
<html lang="pl" data-bs-theme="dark">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="theme-color" content="#091724" >

        <title>{% block title %}Work Chat{% endblock %}</title>
        {% load static %}
        
        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" />
        <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
        <link rel="icon" href="{% static 'icons/icon.ico' %}" />
        {% block head %}{% endblock %}
    </head>
    <body>
        {% block nav %}
        {% block content %}{% endblock %} 
        {% endblock %}
        <div class="toast-container position-fixed top-0 end-0 p-3" id="toast-wrapper"></div>
        <script>window["csrf"] = "{{ csrf_token }}"</script>
        <script src="{% static 'js/loader.js' %}"></script>
        {% block script %}{% endblock %}
    </body>
</html>
