/* MAIN WRAPPERS */
body,
html,
#main-wrapper {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.sidebar-wrapper {
    width: 250px;
    background-color: var(--bs-body-bg);
}

#chat-wrapper {
    width: calc(100% - 250px);
    background-color: var(--bs-body-bg);
}

#chat-close {
    display: none;
}

/* RESPONSIVE */
@media screen and (max-width: 700px) {
    .sidebar-wrapper {
        width: 100%;
        border-right: 0!important;
    }

    #chat-wrapper {
        position: fixed!important;
        transform: translateX(100%);
        transition: transform 0.25s;
        width: 100%;
    }
    
    #chat-wrapper.active {
        transform: translateX(0%);
    }

    #chat-close {
        display: block;
    }
}

/* SIDEBAR */
.title-avatar {
    width: 26px;
    height: 26px;
    max-height: 26px;
    max-width: 26px;
    object-fit: cover;
    border-radius: 100%;
}

.sidebar-icon {
    width: 32px;
    height: 32px;
    max-height: 32px;
    max-width: 32px;
    object-fit: cover;
    border-radius: 100%;
}

.status-icon {
    top: 90%;
    left: 90%;
}

.channel-open {
    --bs-btn-hover-bg: rgb(var(--bs-dark-rgb));
    --bs-btn-hover-border-color: rgb(var(--bs-dark-rgb));
    --bs-btn-active-bg: rgb(var(--bs-dark-rgb));
    --bs-btn-active-border-color: rgb(var(--bs-dark-rgb));
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.85rem;
}

.danger-dropdown-btn {
    --bs-dropdown-link-color: rgb(var(--bs-danger-rgb)); 
    --bs-dropdown-link-active-color: #fff; 
    --bs-dropdown-link-active-bg: rgb(var(--bs-danger-rgb)); 
    --bs-dropdown-link-hover-bg: rgb(var(--bs-danger-rgb));
}

/* CHAT */
#chat-inpt-send:empty:before {
    content: attr(data-placeholder);
    color: gray;
}

/* ICON */
.icon-wrapper {
    width: 82px;
    max-width: 82px;
    height: 82px;
    position: relative;
    cursor: pointer;
}

.add-icon {
    top: 10%;
    left: 90%;
}

.settings-icon {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border: 1px solid black;
}

.change-icon {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 82px;
    height: 82px;
    opacity: 0.8;
    text-align: center;
    background-color: #000;
    color: var(--bs-body-color);
    object-fit: cover;
    line-height: 0.75rem;
    font-size: 0.625rem;
    font-weight: 700;
    transition: none;
    transform: scale(0);
}

.change-icon:hover,
.icon-wrapper > .settings-icon:hover + .change-icon {
    transform: scale(1);
}
.change-icon input {
    display: none;
}

/* FILES */
.file-wrapper {
    margin-left: 4rem; 
    width: 300px;
    color: var(--bs-secondary-color);
    text-decoration: none;
}