body,
html,
#main-wrapper {
    height: 100%;
    width: 100%;
}

#sidebar-wrapper {
    width: 250px;
    height: 100%;
    background-color: rgb(var(--bs-tertiary-bg-rgb));
}

#chat-wrapper {
    width: 100%;
    height: 100%;
    background-color: var(--bs-body-bg);
}

@media screen and (max-width: 650px) {
    #sidebar-wrapper {
        width: 100%;
        border-right: 0!important;
    }

    #chat-wrapper {
        position: fixed;
        transform: translateX(100%);
        transition: transform 0.25s;
    }
    
    #chat-wrapper.active {
        transform: translateX(0%);
    }
}