body,
html,
#main-wrapper {
    height: 100%;
    width: 100%;
}

.sidebar-wrapper {
    width: 250px;
    background-color: var(--bs-body-bg);
}

#chat-wrapper {
    width: calc(100% - 250px);
    background-color: var(--bs-body-bg);
}

#chat-close {
    display: none;
}

@media screen and (max-width: 700px) {
    .sidebar-wrapper {
        width: 100%;
        border-right: 0!important;
    }

    #chat-wrapper {
        position: fixed;
        transform: translateX(100%);
        transition: transform 0.25s;
        width: 100%;
    }
    
    #chat-wrapper.active {
        transform: translateX(0%);
    }

    #chat-close {
        display: block;
    }
}

.title-avatar {
    width: 26px;
    height: 26px;
    object-fit: cover;
    border-radius: 100%;
}