:root {
    --dot-position: 30px;
    --text-position: 80px;
}

.hidden {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 2s, transform 1s;
}

.hidden-line {
    opacity: 0;
    transition: opacity 2s;
}

.show {
    opacity: 1;
    transform: translateX(0);
}

.line {
    width: 8px;
    height: 100%;
    background-image: linear-gradient(var(--bs-body-bg), #001eff, var(--bs-body-bg));
    margin-left: 4rem;
}

.dot {
    position: relative; 
    top: calc(50% - (0.5 * var(--dot-position)));
    right: 120%;
    width: var(--dot-position);
    border-radius: 100%;
    height: var(--dot-position); 
    background-image: radial-gradient(#ff0000, var(--bs-body-bg), #001eff);
}

.line-text {
    position: relative;
    top: calc(50% - (var(--dot-position)));
    height: 20%;
    left: calc(var(--text-position) + 10px);
}

.line-linear-reference {
    position: relative; 
    left: calc(var(--dot-position) * 0.3);
    top: 34%;
    width: var(--text-position); 
    height: 10px; 
    background-image: linear-gradient(to right, #001eff, var(--bs-body-bg));
    margin-left: 20px;
}