:root {
    --card-rotationX: 0;
    --card-rotationY: 0;
    --card-rotationZ: 0;
    --card-rotation: 0;
}

.hidden {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 2s, transform 1s;
}

.hidden-line {
    opacity: 0;
    transition: opacity 1s;
}

.show {
    opacity: 1;
    transform: translateX(0);
}

.line {
    position: relative;
    min-width: 4px;
    height: 500px;
    margin-left: 2rem;
}


.dot {
    position: absolute; 
    top: 50%;
    left: 2px;
    padding: 0.75rem;
    border-radius: 100%;
    background-color: var(--bs-body-bg);
    transform: translate(-50%, -50%);
}

.line-text {
    margin-left: 50px;
}

.card-rotation {
    transition: transform 0.5s ease;
    transform: rotate3d(var(--card-rotationX), var(--card-rotationY), var(--card-rotationZ), var(--card-rotation)) !important;
}