.hidden {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 5s, transform 2.5s;
}
.show {
    opacity: 1;
    transform: translateX(0);
}
@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

.diagonal {
    margin-top: 4rem;
    margin-bottom: 4rem;
    padding-top: 5.5rem;
    padding-bottom: 5rem;
    padding-left: 4rem;
    padding-right: 4rem;
    position: relative;
    isolation: isolate;
}
.diagonal::after {
    content: '';
    background-image: linear-gradient(var(--bs-body-bg), #1f2721, var(--bs-body-bg));
    position: absolute;
    inset: 0;
    z-index: -1;
}

.spikes-text {
    margin-top: 4rem;
    margin-bottom: 4rem;
    position: relative;
    background-image: linear-gradient(var(--bs-body-bg), #1f2721, var(--bs-body-bg));
}
.spikes {
    fill: var(--bs-body-bg);
}

.wave-text {
    margin-top: 4rem;
    margin-bottom: 4rem;
    position: relative;
    background-image: linear-gradient(var(--bs-body-bg), #1f2027, var(--bs-body-bg));
}
.wave {
    fill: var(--bs-body-bg);
}