{% extends 'base/base.html' %}
{% load static %}

{% block title %}Work Chat{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/chat.css' %}" />
{% endblock %}

{% block content %}
<div id="main-wrapper" class="d-flex">
    <div class="d-flex" id="main-wrapper">
        <div class="sidebar-wrapper h-100 border-end">
            <nav class="navbar py-1 shadow-lg border-bottom">
                <div class="container-fluid px-2 justify-content-between">
                    <div class="navbar-brand text-primary fw-bold">
                        Work-Chat
                    </div>
                    <div class="d-flex gap-2">
                        <button class="btn p-0">
                            <svg width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                            </svg>
                        </button>
                        <button class="btn p-0">
                            <img class="title-avatar ms-1" src="{% static 'icons/avatar_1.jpg' %}" alt="Avatar">
                        </button>
                    </div>
                </div>
            </nav>
            <button class="btn" id="chat-open">Open</button>
        </div>
        <div class="d-flex flex-column justify-content-between h-100" id="chat-wrapper">
            <nav class="navbar py-1 shadow-lg border-bottom">
                <div class="container-fluid ps-2 justify-content-between">
                    <div class="navbar-brand d-flex align-items-center gap-2">
                        <button class="btn p-0 border-0" id="chat-close">
                            <svg width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                <path d="M10 12.796V3.204L4.519 8zm-.659.753-5.48-4.796a1 1 0 0 1 0-1.506l5.48-4.796A1 1 0 0 1 11 3.204v9.592a1 1 0 0 1-1.659.753"/>
                              </svg>
                        </button>
                        <img class="title-avatar ms-1" src="{% static 'icons/avatar_2.jpg' %}" alt="Avatar">
                        Bartosz Mroczkowski
                    </div>
                    <button class="btn">
                        <svg width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                            <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"/>
                        </svg>
                    </button>
                </div>
            </nav>
            <div>
                
            </div>
            <div class="d-flex justify-content-center p-2">
                <input class="form-control" type="text" name="chat-inpt" placeholder="Wpisz wiadomość"/>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'js/app.js' %}"></script>
{% endblock %}