{% extends 'base/navBase.html' %}
{% load static %}

{% block title %}Work Chat • Docs{% endblock %}

{% block content %}
<main>
    <div>
        <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 75%"></div>
        <div>
            <p>Wprowadzenie</p>
        </div>
        <div>
            <p>Dokumentacja</p>
        </div>

    </div>
</main>
{% endblock %}

{% block script %}
<script src="{% static 'js/home.js' %}"></script>
{% endblock %}
