{% extends 'base/navBase.html' %}
{% load static %}

{% block title %}Work Chat • Docs{% endblock %}

{% block content %}
<main class="mt-2">
    <div class="row">
        <div class="col-10 ps-5 pe-5">
            <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true" class="scrollspy-example-2" tabindex="0">
                <div id="item-1">
                    <h3>Item 1</h3>
                    <p>Ex accusamus possimus quo aliquam recusandae vel harum mollitia? Ea autem adipisci in iure consequatur id voluptate ipsum qui numquam nihil vel consequatur eligendi ab nulla dignissimos in pariatur placeat. Ut officia facilis aut quisquam eius sit labore dolor et deleniti odit sit temporibus doloremque ut mollitia deserunt!</p>
                    <p>Ex accusamus possimus quo aliquam recusandae vel harum mollitia? Ea autem adipisci in iure consequatur id voluptate ipsum qui numquam nihil vel consequatur eligendi ab nulla dignissimos in pariatur placeat. Ut officia facilis aut quisquam eius sit labore dolor et deleniti odit sit temporibus doloremque ut mollitia deserunt!</p>
                    <p>Ex accusamus possimus quo aliquam recusandae vel harum mollitia? Ea autem adipisci in iure consequatur id voluptate ipsum qui numquam nihil vel consequatur eligendi ab nulla dignissimos in pariatur placeat. Ut officia facilis aut quisquam eius sit labore dolor et deleniti odit sit temporibus doloremque ut mollitia deserunt!</p>
                </div>
                <div id="item-2" class="mt-5">
                    <h3>Item 2</h3>
                    <p>Ex accusamus possimus quo aliquam recusandae vel harum mollitia? Ea autem adipisci in iure consequatur id voluptate ipsum qui numquam nihil vel consequatur eligendi ab nulla dignissimos in pariatur placeat. Ut officia facilis aut quisquam eius sit labore dolor et deleniti odit sit temporibus doloremque ut mollitia deserunt!</p>
                    <p>Ex accusamus possimus quo aliquam recusandae vel harum mollitia? Ea autem adipisci in iure consequatur id voluptate ipsum qui numquam nihil vel consequatur eligendi ab nulla dignissimos in pariatur placeat. Ut officia facilis aut quisquam eius sit labore dolor et deleniti odit sit temporibus doloremque ut mollitia deserunt!</p>
                    <p>Ex accusamus possimus quo aliquam recusandae vel harum mollitia? Ea autem adipisci in iure consequatur id voluptate ipsum qui numquam nihil vel consequatur eligendi ab nulla dignissimos in pariatur placeat. Ut officia facilis aut quisquam eius sit labore dolor et deleniti odit sit temporibus doloremque ut mollitia deserunt!</p>
                </div>
                <div id="item-3" class="mt-5">
                    <h3>Item 3</h3>
                    <p>Ex accusamus possimus quo aliquam recusandae vel harum mollitia? Ea autem adipisci in iure consequatur id voluptate ipsum qui numquam nihil vel consequatur eligendi ab nulla dignissimos in pariatur placeat. Ut officia facilis aut quisquam eius sit labore dolor et deleniti odit sit temporibus doloremque ut mollitia deserunt!</p>
                    <p>Ex accusamus possimus quo aliquam recusandae vel harum mollitia? Ea autem adipisci in iure consequatur id voluptate ipsum qui numquam nihil vel consequatur eligendi ab nulla dignissimos in pariatur placeat. Ut officia facilis aut quisquam eius sit labore dolor et deleniti odit sit temporibus doloremque ut mollitia deserunt!</p>
                    <p>Ex accusamus possimus quo aliquam recusandae vel harum mollitia? Ea autem adipisci in iure consequatur id voluptate ipsum qui numquam nihil vel consequatur eligendi ab nulla dignissimos in pariatur placeat. Ut officia facilis aut quisquam eius sit labore dolor et deleniti odit sit temporibus doloremque ut mollitia deserunt!</p>
                </div>
                <div id="item-4" class="mt-5">
                    <h3>Item 4</h3>
                    <p>Ex accusamus possimus quo aliquam recusandae vel harum mollitia? Ea autem adipisci in iure consequatur id voluptate ipsum qui numquam nihil vel consequatur eligendi ab nulla dignissimos in pariatur placeat. Ut officia facilis aut quisquam eius sit labore dolor et deleniti odit sit temporibus doloremque ut mollitia deserunt!</p>
                    <p>Ex accusamus possimus quo aliquam recusandae vel harum mollitia? Ea autem adipisci in iure consequatur id voluptate ipsum qui numquam nihil vel consequatur eligendi ab nulla dignissimos in pariatur placeat. Ut officia facilis aut quisquam eius sit labore dolor et deleniti odit sit temporibus doloremque ut mollitia deserunt!</p>
                    <p>Ex accusamus possimus quo aliquam recusandae vel harum mollitia? Ea autem adipisci in iure consequatur id voluptate ipsum qui numquam nihil vel consequatur eligendi ab nulla dignissimos in pariatur placeat. Ut officia facilis aut quisquam eius sit labore dolor et deleniti odit sit temporibus doloremque ut mollitia deserunt!</p>
                </div>
                <div id="item-5" class="mt-5">
                    <h3>Item 5</h3>
                    <p>Ex accusamus possimus quo aliquam recusandae vel harum mollitia? Ea autem adipisci in iure consequatur id voluptate ipsum qui numquam nihil vel consequatur eligendi ab nulla dignissimos in pariatur placeat. Ut officia facilis aut quisquam eius sit labore dolor et deleniti odit sit temporibus doloremque ut mollitia deserunt!</p>
                    <p>Ex accusamus possimus quo aliquam recusandae vel harum mollitia? Ea autem adipisci in iure consequatur id voluptate ipsum qui numquam nihil vel consequatur eligendi ab nulla dignissimos in pariatur placeat. Ut officia facilis aut quisquam eius sit labore dolor et deleniti odit sit temporibus doloremque ut mollitia deserunt!</p>
                    <p>Ex accusamus possimus quo aliquam recusandae vel harum mollitia? Ea autem adipisci in iure consequatur id voluptate ipsum qui numquam nihil vel consequatur eligendi ab nulla dignissimos in pariatur placeat. Ut officia facilis aut quisquam eius sit labore dolor et deleniti odit sit temporibus doloremque ut mollitia deserunt!</p>
                </div>
                <div id="item-6" class="mt-5">
                    <h3>Item 6</h3>
                    <p>Ex accusamus possimus quo aliquam recusandae vel harum mollitia? Ea autem adipisci in iure consequatur id voluptate ipsum qui numquam nihil vel consequatur eligendi ab nulla dignissimos in pariatur placeat. Ut officia facilis aut quisquam eius sit labore dolor et deleniti odit sit temporibus doloremque ut mollitia deserunt!</p>
                    <p>Ex accusamus possimus quo aliquam recusandae vel harum mollitia? Ea autem adipisci in iure consequatur id voluptate ipsum qui numquam nihil vel consequatur eligendi ab nulla dignissimos in pariatur placeat. Ut officia facilis aut quisquam eius sit labore dolor et deleniti odit sit temporibus doloremque ut mollitia deserunt!</p>
                    <p>Ex accusamus possimus quo aliquam recusandae vel harum mollitia? Ea autem adipisci in iure consequatur id voluptate ipsum qui numquam nihil vel consequatur eligendi ab nulla dignissimos in pariatur placeat. Ut officia facilis aut quisquam eius sit labore dolor et deleniti odit sit temporibus doloremque ut mollitia deserunt!</p>
                </div>
                <div id="item-7" class="mt-5">
                    <h3>Item 7</h3>
                    <p>Ex accusamus possimus quo aliquam recusandae vel harum mollitia? Ea autem adipisci in iure consequatur id voluptate ipsum qui numquam nihil vel consequatur eligendi ab nulla dignissimos in pariatur placeat. Ut officia facilis aut quisquam eius sit labore dolor et deleniti odit sit temporibus doloremque ut mollitia deserunt!</p>
                    <p>Ex accusamus possimus quo aliquam recusandae vel harum mollitia? Ea autem adipisci in iure consequatur id voluptate ipsum qui numquam nihil vel consequatur eligendi ab nulla dignissimos in pariatur placeat. Ut officia facilis aut quisquam eius sit labore dolor et deleniti odit sit temporibus doloremque ut mollitia deserunt!</p>
                    <p>Ex accusamus possimus quo aliquam recusandae vel harum mollitia? Ea autem adipisci in iure consequatur id voluptate ipsum qui numquam nihil vel consequatur eligendi ab nulla dignissimos in pariatur placeat. Ut officia facilis aut quisquam eius sit labore dolor et deleniti odit sit temporibus doloremque ut mollitia deserunt!</p>
                </div>
            </div>
        </div>
        <div class="col-2 ps-2 pe-4" style="position: fixed; right: 0;">
            <nav id="navbar-example3" class="h-100 flex-column align-items-stretch ps-4 border-start">
                <nav class="nav nav-pills flex-column">
                    <a class="nav-link" href="#item-1">Item 1</a>
                    <a class="nav-link" href="#item-2">Item 2</a>
                    <a class="nav-link" href="#item-3">Item 3</a>
                    <a class="nav-link" href="#item-4">Item 4</a>
                    <a class="nav-link" href="#item-5">Item 5</a>
                    <a class="nav-link" href="#item-6">Item 6</a>
                    <a class="nav-link" href="#item-7">Item 7</a>
                    </nav>
                </nav>
            </nav>
        </div>
    </div>
</main>
{% endblock %}

{% block script %}
<script src="{% static 'js/home.js' %}"></script>
{% endblock %}
