{% extends 'base/base.html' %}
{% load static %}

{% block content %}
<!--about doc login register-->
<nav class="navbar navbar-expand-lg shadow-lg">
    <div class="container-fluid px-4">
        <a class="navbar-brand text-primary fw-bold" href="#">Work-Chat</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarTogglerDemo01">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Docs</a>
                </li>
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0 gap-2">
                <a class="btn" href="#">Sign In</a>
                <a class="btn" href="#">Sign Up</a>
            </ul>
        </div>
    </div>
</nav>
<main class="container-lg .bg-transparent">
    <section class="text-center">
        <h2>Witamy w aplikacji <span class="text-primary">Work-Chat</span></h2>
        <h4>Twój wyjątkowy komunikator dla firm</br>Prosty, wygodny, praktyczny, idealny.</h4>
    </section>
    <section class="container text-center d-flex">
        <div class="p-3 hidden">
            <a>
                <img src="{% static 'icons/przyklad_icony.jpg' %}" alt="">
            </a><br>
            Jeśli nie masz konta zapraszam do założenia go. Wystarczy kliknąć w rejestracje w prawym górnym rogu ekranu i wypełnić formularz. To takie proste a da ci o niebo więcej możliwości.
        </div>
        <div class="p-3 hidden">
            <a>
                <img src="{% static 'icons/przyklad_icony.jpg' %}" alt="">
            </a><br>
            Jeśli już masz konto wystarczy sie zalogować. Dostaniesz wtedy dostęp do komunikacji z swoimi współpracownikami.
        </div>
    </section>
    <section class="text-center">
        <div class="hidden">
            about
        </div>
    </section>
</main>
<div class="container fixed-bottom">
    <footer class="d-flex flex-wrap justify-content-between align-items-center p-3 gap-2 border-top">
        <div class="d-flex">
            <span class="text-body-secondary" style="font-size: 14px;">© 2024 All right reserved.</span>
        </div>
        <ul class="nav list-unstyled d-flex">
            <li>
                <a class="text-body-secondary" href="https://github.com/Bartek-M" target="_blank">
                    <svg width="22" height="22" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"/>
                    </svg>
                </a>
            </li>
        </ul>
    </footer>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'js/home.js' %}"></script>
{% endblock %}