{% extends 'base/navBase.html' %}
{% load static %}

{% block title %}Work Chat • Login{% endblock %}

{% block content %}
<div class="d-flex flex-column align-items-center my-5 gap-4" style="min-height: calc(100vh - 210px);">
    <h2>Sign in to <span class="text-primary">Work-Chat</span></h2>
    <div class="card w-100" style="max-width: 400px;">
        <ul class="list-group list-group-flush" style="border: 0; text-align: left;">
            <li class="list-group-item border-0">
                <div class="mb-2">
                    <label for="exampleFormControlInput1" class="form-label">Email</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1">
                </div>
            </li>
            <li class="list-group-item">
                <div class="mb-2">
                    <label for="exampleFormControlInput1" class="form-label">Password</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1">
                </div>  
            </li>
        </ul>
        <div class="col-auto d-grid gap-2 col-6 mx-auto text-center">
            <button type="submit" class="btn btn-outline-success" style="margin-top: 1rem; margin-bottom: 1rem;">Sign in</button>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'js/login.js' %}"></script>
{% endblock %}