{% extends 'base/navBase.html' %}
{% load static %}

{% block title %}Work Chat • Register{% endblock %}

{% block content %}
<div class="d-flex flex-column align-items-center my-5 gap-4" style="min-height: calc(100vh - 210px);">
    <h2 class="text-light">Sign up to <span class="text-primary">Work-Chat</span></h2>
    <form class="card w-100" style="max-width: 400px;">
        {% csrf_token %}
        <ul class="list-group list-group-flush" style="border: 0; text-align: left;">
            <li class="list-group-item border-0">
                <label for="username-input" class="form-label text-secondary-emphasis" style="font-size: 0.8rem">Nazwa Użytkownika <span class="text-danger" id="username-error">*</span></label>
                <input type="email" class="form-control" id="username-input">
            </li>
            <li class="list-group-item border-0">
                <label for="username-input" class="form-label text-secondary-emphasis" style="font-size: 0.8rem">Email <span class="text-danger" id="username-error">*</span></label>
                <input type="email" class="form-control" id="email-input">
            </li>
            <li class="list-group-item">
                <label for="username-input" class="form-label text-secondary-emphasis" style="font-size: 0.8rem">Hasło <span class="text-danger" id="username-error">*</span></label>
                <input type="password" class="form-control" id="password-input">
            </li>
        </ul>
        <div class="col-auto d-grid gap-2 col-6 mx-auto text-center">
            <button class="btn btn-outline-success" id="submit-btn" type="submit" style="margin-top: 1rem; margin-bottom: 1rem;">Sign in</button>
        </div>
    </form>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'js/register.js' %}"></script>
{% endblock %}